<app-navbar></app-navbar>
<h2>Your Profile</h2>
<div style="display: flex; justify-content: center">
  <mat-card
    style="width: 80%; text-align: center; margin: 15px; padding: 30px"
  >
    <mat-card-header>
      <mat-card-title class="profile-title">
        <h3>Current Information</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content> Username: {{ user.Username }}</mat-card-content>
    <mat-card-content> Email: {{ user.Email }} </mat-card-content>
    <mat-card-content>
      Birthday:
      {{ user.Birthday | date }}
    </mat-card-content>
  </mat-card>
</div>
